---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "spartan/_stylesheet", "fanwood/_stylesheet";

// Our variables
$base-font-family: "League Fanwood", "Helvetica Neue", Helvetica, Arial, sans-serif;
$title-font-family: "League Spartan", "Helvetica Neue", Helvetica, Arial, sans-serif;

$base-font-size:   24px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;

$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    900px;

$on-palm:          600px;
$on-laptop:        900px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;


.music_player {
    border: darkorange solid 1px;
    width: 300px;
    height: 340px;
    display: block;
    img {
        width: 300px;
        height: 300px;
    }
    audio {
        width: 300px;
        height: 40px;
    }
    #playlist {
        max-height: 300px;
        padding: 0px;
        margin: 0px;
        text-align: left;
        overflow-y: auto;
        overflow-x: hidden;
        font-size: 0.8em;
        button {
            background-color: #444;
            color: #fff;
            font-variant: small-caps;
            border-radius: 2px;
            padding: 2px;
        }
        ul{
            width: 100%;
            margin: 0px;
            list-style-type: none;
            list-style-position: outside;
            li{
                border-top: darkorange solid 1px;
                padding: 5px;
                :nth-child(odd) { background: #ccc; }
            }
        }
    }
}
.anchor { padding-top: 40px; }

ul.horizontal.small {
    font-size: 66%;
    li:first-child{
        color: darkorange;
    }
}

ul.horizontal {
    margin: 0px;
    font-size: 80%;
    display: inline-block;
    font-variant: small-caps;

    > li {
        display: inline-block;
        +li:before {
            content: ' | ';
        }
    }
}

strong {
    font-weight: bold;
}
div.caption{
    text-align: center;
    width: 100%;
    font-size: 80%;
}
.small{
    font-size: 0.8em;
}