---
title: Charity
layout: default
---

<div class="home">
  <h2>{{ page.title}}</h2>
  <ul class="post-list">
    {% for post in site.categories.charity %}
      <li>
        <h2 class="post-link">
        {% if post.excerpt == post.content %}
          {{ post.title }}
        {% else %}
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        {% endif %}
        </h2>
        {{ post.excerpt }}
        <span class="post-meta">
          posted {{ post.date | date: "%b %-d, %Y" }}
          {% if post.tags != empty %}
          § tagged: {% for tag in post.tags %}
          {{ tag }}
          {% endfor %}
          {% endif %}
        </span>
      </li>
    {% endfor %}
  </ul>

</div>
