---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
        {% if post.excerpt == post.content %}
          {{ post.title }}
        {% else %}
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        {% endif %}
        </h2>
        {{ post.excerpt | markdownify }}
        <span class="post-meta">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">posted {{ post.date | date: "%b %-d, %Y" }}</a>
          {% if post.tags != empty %}
          § tagged: {{ post.tags | join: ", " }}
          {% endif %}
        </span>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Pages and categories</h1>
  <ul class="post-list">
    {% for post in site.html_pages %}
    {% if post.title %}
      <li>
        <a href="{{ post.url| prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endif %}
    {% endfor %}
  </ul>

</div>
