---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% if post.excerpt == post.content %}
        <h2>
          {{ post.title }}
        </h2>
        {% else %}
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {% endif %}
        {{ post.excerpt }}
        <span class="post-meta">
          posted {{ post.date | date: "%b %-d, %Y" }}
          {% if post.tags != empty %}
          § tagged: {% for tag in post.tags %}
          {{ tag }}
          {% endfor %}
          {% endif %}
        </span>
      </li>
    {% endfor %}
  </ul>

</div>
