<!DOCTYPE html>
<html>

{% include head.html %}

<body data-senna data-senna-surface>

  {% include header.html %}

  <div class="page-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}
  <!-- Fathom - beautiful, simple website analytics -->
  <script src="https://cdn.usefathom.com/script.js" site="MYNFYQVG" defer></script>
  <!-- / Fathom -->
  <script src="senna-min.js" defer></script>
  <script>
    document.addEventListener('DOMContentLoaded', function (e) {
      if (document.monetization) {
        window.fathom.trackGoal('LOTFE18N', 0);
      };
    });
  </script>
</body>

</html>