---
layout: post
---
{{ content }}
<center>
    {% if page.soundcloud %}
    TODO
    {% elsif page.track %}
    <div class="music_player" id="player">
        <img src="{{page.track.cover}}" alt="{{page.track.title}}" />
        <audio src="{{ page.track.mp3 }}" id="{{page.track.title}}" controls></audio>
    </div>
    {% endif %}
</center>

<script>
    var player = document.getElementById('player');
    if (!document.monetization) {
        console.log(player)
        var message = document.createElement("div");
        message.innerHTML = "<p>If you like this track, consider using <a href='https://coil.com'>Coil</a> to support it.</p>";
        player.parentNode.insertBefore(message, player.nextSibling);
    }
    const ilps = {{ page.track.ilp | jsonify }};
    if (ilps) {
        window.addEventListener('load', () => {
            const metas = document.getElementsByTagName('meta');
            for (let i = 0; i < metas.length; i++) {
                if (metas[i].getAttribute('name') === 'monetization') {
                    window.setTimeout(() => {
                        var rnd_ilp = ilps[Math.floor(Math.random() * Math.floor(ilps.length))];
                        metas[i].content = rnd_ilp;
                        console.log('now streaming payments to ' + rnd_ilp);
                    }, 1000);
                }
            }
        });
    };
</script>