---
layout: post
---
<center>
    {% if page.soundcloud %}
    {% include media/soundcloud.html title=page.soundcloud.title name=page.soundcloud.name id=page.soundcloud.id%}
    {% elsif page.bandcamp %}
    {% include media/bandcamp.html album=page.bandcamp.album track=page.bandcamp.track link=page.bandcamp.link title=page.bandcamp.title %}
    {% elsif page.track %}
    {% include media/mp3.html title=page.track.title cover=page.track.cover mp3=page.track.mp3%}
    {% elsif page.spotify %}
    {% include media/spotify.html id=page.spotify.id type=page.spotify.type %}
    {% endif %}
</center>
{{ content }}
{%if page.track %}
<center>
    <p>Listen to other tracks on the <a href="/playlist.html">playlist</a>.</p>
</center>
{% endif %}
<script>
    var player = document.getElementById('player');
    if (!document.monetization) {
        console.log(player)
        var message = document.createElement("div");
        message.innerHTML = "<p>If you like this track, consider using <a href='https://coil.com'>Coil</a> to support it.</p>";
        player.parentNode.insertBefore(message, player.nextSibling);
    }

    const ilps = {{ page.ilp | default: site.ilp | jsonify }};
    if (ilps && Array.isArray(ilps)) {
        window.addEventListener('load', () => {
            const metas = document.getElementsByTagName('meta');
            for (let i = 0; i < metas.length; i++) {
                if (metas[i].getAttribute('name') === 'monetization') {
                    window.setTimeout(() => {
                        var rnd_ilp = ilps[Math.floor(Math.random() * Math.floor(ilps.length))];
                        metas[i].content = rnd_ilp;
                        console.log('now streaming payments to ' + rnd_ilp);
                        console.log(ilps);
                        {% if page.track %}
                        var audio = document.querySelector('audio');
                        console.log(audio.duration);
                        console.log(audio.currentTime);
                        {% endif %}
                    }, 1000);
                }
            }
        });
    };
</script>