---
layout: post
---

{% unless page.video_top %}
{{ content }}
{% endunless %}

{% if page.video_url %}
{% assign video_url = page.video_url %}
{% elsif page.cinnamon_id %}
{% assign video_url = page.cinnamon_id | prepend: "https://www.cinnamon.video/embed?v="%}
{% elsif page.twitch_id %}
{% assign video_url = page.page.twitch_id | prepend: "https://player.twitch.tv/?parent=metsonet.co.uk&ampvideo="%}
{% endif %}
{% include media/video.html video_url=video_url %}
{% if page.video_top %}
{{ content }}
{% endif %}

<script>
    var player = document.querySelector('iframe');
    if (!document.monetization) {
        console.log(player)
        var message = document.createElement("div");
        message.innerHTML = "<p>If you like this video, consider using <a href='https://coil.com'>Coil</a> to support it.</p>";
        player.parentNode.insertBefore(message, player.nextSibling);
    }
</script>