---
layout: post
---
{{ content }}
<center>
    {% if page.video_url %}
    <iframe width="620" height="378" src="{{page.video_url}}" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% elsif page.cinnamon_id %}
    <iframe width="620" height="378" src=https://www.cinnamon.video/embed?v={{page.cinnamon_id}} frameborder="0"
        allow="monetization; accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    {% elsif page.twitch_id %}
    <iframe src="https://player.twitch.tv/?video={{page.twitch_id}}&amp;parent=metsonet.co.uk" frameborder="0"
        allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
    {% endif %}
</center>
<script>
    var player = document.querySelector('iframe');
    if (!document.monetization) {
        console.log(player)
        var message = document.createElement("div");
        message.innerHTML = "<p>If you like this video, consider using <a href='https://coil.com'>Coil</a> to support it.</p>";
        player.parentNode.insertBefore(message, player.nextSibling);
    }
</script>