---
layout: default
scripts:
    wm-test.js
---
<h2>Testing WM via {{page.via}}.</h2>
<pre><code>{{page.ilp}}</code></pre>
<a href="wm-test.html" data-senna-off="true">Uphold XRP ILP</a> |
<a href="vanilla-test.html" data-senna-off="true">Vanilla ILP</a> |
<a href="eth-test.html" data-senna-off="true">Uphold Etherium ILP</a> |
<a href="upco2-test.html" data-senna-off="true">Uphold UPCO2 ILP</a>
<br />
<ul id="info"></ul>
<br />
<p>Testing WM via {{page.via}}.</p>
<a href="wm-test.html" data-senna-off="true">Uphold XRP ILP</a> |
<a href="vanilla-test.html" data-senna-off="true">Vanilla ILP</a> |
<a href="eth-test.html" data-senna-off="true">Uphold Etherium ILP</a> |
<a href="upco2-test.html" data-senna-off="true">Uphold UPCO2 ILP</a>
