@font-face {
    font-family: 'League Fanwood';
    src: url('/css/fanwood/fanwood-webfont.eot');
    src: url('/css/fanwood/fanwood-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fanwood/fanwood-webfont.woff') format('woff'),
         url('/css/fanwood/fanwood-webfont.ttf') format('truetype'),
         url('/css/fanwood/fanwood-webfont.svg#league_fanwood') format('svg');
    font-weight: bold;
    font-style: normal;
}
